
#root{
  margin: 5px;
}

.chat{
  padding: 10px;
  margin: 5px;
  
}
.chats-individuais{
  padding-top: 10px;
}
.chat-id-perso{
  width: 100%;
  padding: 3px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 3px;
}

.chat-img-personagem{
  padding-right: 10px;
}
.chat-img-personagem img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.chat-personagem{
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  font-family: "RobotoCondensed-Light", sans-serif;
  margin: 3px;
}
.chat-personalidade{
  color: #000000;
  font-size: 11px;
}
.listaMensagens{
  height: 68vh;
  overflow: auto;
  margin-top: 10px;
}
#chat-mensagens{
height: 70vh;
display: flex;
flex-direction: column;
list-style: none;
font-size: 12px;
}
#chat-mensagens li {
  display: flex;
  margin: 5px;
}
#chat-mensagens li span{
  padding: 5px;
}
.mensagem-enviada{
justify-content: flex-end;
}
.mensagem-enviada span{
background-color:  #ffa500;
border-radius: 10px 3px 10px 10px;
}
.mensagem-resposta{
justify-content: flex-start;
}
.mensagem-resposta span{
background-color: #d9d9d9;
border-radius: 3px 10px 10px 10px;
}
.chat-typing{
  display: block;
  color: #ffa500;
  font-size: 12px;
}
.chat-input{
width: 100%;
display: flex;
justify-content: space-between;
font-size: 10px;
padding: 10px;
}
.chat-mensagem {
flex: 1;
height: 6vh;
font-family: "RobotoCondensed-Light", sans-serif;
padding: 0 10px;
margin-right: 5px; /* Adicionado para espaçamento entre os elementos */
background-color: #d9d9d9;
border-radius: 25px;
border: none;
}

.chat-botao {
width: auto;
height: 6vh;
font-weight: bold;
padding: 0 10px;
margin-left: 5px;
border-radius: 25px;
border: none;
}